    
    
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap.min.css">
   	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
   	<link th:href="@{/css/font-awesome.min.css}" media="all" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/sweetalert.css}" media="all" rel="stylesheet" type="text/css">
	<link th:href="@{/css/style.css}" media="all" rel="stylesheet" type="text/css">
	<link th:href="@{/css/custom.css}" media="all" rel="stylesheet" type="text/css">
		
	<link rel="shortcut icon" th:href="@{/image/logo-icon.png}"/>
	
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">	